@(current: Meeting, fullName: String = "Scala User")

@import models._
@import scala.concurrent.ExecutionContext.Implicits.global


@main("Welcome to London Scala User Group", fullName) {

    <h2>Next Meeting</h2>
    
    <div class="row">

        <div class="span9 meeting current">
            <h3>@current.name</h3>
            <a href="http://www.meetup.com/london-scala/events/@current.event_id/" data-event="@current.event_id" class="mu-rsvp-btn">RSVP</a>
            <p>@Html(current.description)</p>
        </div>
    </div>

    <h2>Upcoming Meetings</h2>
    <div class="row">
    @Application.upcomingMeetings.map { meeting =>
        <div class="span9 meeting current">
                <h3> @meeting.name</h3>
                <a href="http://www.meetup.com/london-scala/events/@meeting.event_id/"
                        data-event="@meeting.event_id" class="mu-rsvp-btn">RSVP</a>
                <p> @Html(meeting.description) </p>
            </div>
        </div>
    }

    </div>

    <h2>Past Meetings</h2>

    <div class="accordion" id="accordion2">
    @Application.pastTalks.zipWithIndex.map { pm =>
        <div class="accordion-group">
            <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=' @( "#collapseOne" + pm._2 )'>
                @Application.monthName( pm._1.time.getMonth )  @( 1900 + pm._1.time.getYear) -  @pm._1.name
            </a>
            </div>
            <div id='@("collapseOne" + pm._2 )' class="accordion-body collapse">
                <div class="accordion-inner">
                <h5>Date: @pm._1.time</h5>
                @Html( pm._1.description)
                </div>
            </div>
        </div>
    }
    </div>



<script>
!function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){js=d.createElement(s);
        js.id=id;js.async=true;
        js.src="https://secure.meetup.com/890357987448484755600/script/api/mu.btns.js?id=@Application.meetupId";
        fjs.parentNode.insertBefore(js,fjs);
    }
}(document,"script","mu-bootjs");
</script>
<!-- the script above destroys jquery `$`  for some unknown reason, therefore we import it once again here -->
<script src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/jquery.github.min.js")' type="text/javascript"></script>

}
